.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
  background-color: #0d6efd; /* Un azul más vibrante */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5rem; /* Espacio entre logo y texto */
}

.logo {
  height: 50px;
}

.logo-text {
  font-size: 2rem;
  font-weight: 700;
}

/* --- Contenido Principal --- */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  max-width: 1200px;
  margin: 1rem auto; /* Centra el contenido y añade espacio */
  padding: 0 1rem;
}

.content h2 {
  text-align: center;
  font-size: 3rem;
  white-space: nowrap;
  margin-bottom: 5rem;
  color: #2c3e50;
}

form {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
  font-size: 0.95rem;
}

.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #0d6efd;
  outline: none;
}

form button[type="submit"] {
  width: 50%;
  display: block;
  margin: 0 auto;
  padding: 12px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #0b5ed7;
}